

<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
  <div class="md-toolbar-tools">
    <h2 class="md-title"></h2>
    <div flex></div>
    <md-button class="md-icon-button" ng-click="filter.show = true">
      <md-icon>filter_list</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="addItem($event)">
      <md-icon>add</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
  <div class="md-toolbar-tools">
    <md-icon>search</md-icon>
    <form flex name="filter.form">
      <input type="text" ng-model="query.filter" placeholder="rechercher">
    </form>
    <md-button class="md-icon-button" ng-click="removeFilter()">
      <md-icon>close</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
  <div class="md-toolbar-tools" layout-align="space-between">
    <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>

    <div flex></div>
    <md-button ng-show="selected.length == 1" class="md-icon-button" ng-click="edit($event)">
      <md-icon>edit</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="delete($event)">
      <md-icon>delete</md-icon>
    </md-button>
  </div>
</md-toolbar>


     <md-table-container>
          <table md-table md-row-select ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
              <tr md-row>
                <th md-column md-order-by="id"><span>ID</span></th>
                <th md-column md-order-by="nom"><span>Item</span></th>
                <th md-column md-order-by="compagnie"><span>Compagnie</span></th>
                <th md-column md-numeric md-order-by="prix"><span>Prix</span></th>
                <th md-column md-numeric md-order-by="quantite"><span>Quantité disponible</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="item" md-select-id="{{item.id}}" md-auto-select ng-repeat="item in items | filter: query.filter | orderBy: query.order">
                <td md-cell>{{item.id}}</md-cell>
                <td md-cell>{{item.nom}}</md-cell>
                <td md-cell>{{item.compagnie}}</md-cell>
                <td md-cell>{{item.prix | currency}}</md-cell>
                <td md-cell>{{item.quantite}}</md-cell>
              </tr>
            </tbody>
          </table>
        </md-table-container>


