Commandes pour {{user}}

<md-card>

  <section layout="row" layout-align="center center" layout-wrap>
    <div layout="row" layout-align="center center" flex>

      <md-select ng-change="changepo()" ng-model="selectedpo">

        <md-option ng-repeat="po in allpo" value="{{po.id}}">
                {{po.dt_debut}} - {{po.dt_fin}}
        </md-option>

       
      </md-select>
      <span flex></span>
    </div>
  </section>

</md-card>


<md-card>




<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
  <div class="md-toolbar-tools">
    <h2 class="md-title"></h2>
    <div flex></div>
    <md-button class="md-icon-button" ng-click="filter.show = true">
      <md-icon>filter_list</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
  <div class="md-toolbar-tools">
    <md-icon>search</md-icon>
    <form flex name="filter.form">
      <input type="text" ng-model="query.filter" placeholder="rechercher">
    </form>
    <md-button class="md-icon-button" ng-click="removeFilter()">
      <md-icon>close</md-icon>
    </md-button>
  </div>
</md-toolbar>


     <md-table-container>
          <table md-table ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
              <tr md-row>
                <th md-column md-order-by="dt_order"><span>DATE</span></th>
                <th md-column md-order-by="username"><span>User</span></th>
                <th md-column md-order-by="compagnie"><span>Compagnie</span></th>
                <th md-column md-order-by="nom"><span>Item</span></th>
                <th md-column md-numeric md-order-by="quantite"><span>Quantite</span></th>
                <th md-column md-order-by="recu"><span>Item reçu</span></th>
                <th md-column md-numeric md-order-by="total"><span>Total</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="order in updateTotal((orders | filter: query.filter | orderBy: query.order))">
                <td md-cell>{{order.dt_order}}</md-cell>
                <td md-cell>{{order.username}}</md-cell>
                <td md-cell>{{order.compagnie}}</md-cell>
                <td md-cell>{{order.nom}}</md-cell>
                <td md-cell>{{order.quantite}}</md-cell>
                <td md-cell>{{order.recu}}</md-cell>
                <td md-cell>{{order.total}}</md-cell>
              </tr>
            </tbody>
          </table>
        </md-table-container>


</md-card>


<section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
  <div layout="row" layout-align="start center" flex>
    <span flex></span>
  </div>
  <div class="total">Total: {{ total | currency}}</div>
</section>

<section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
  <div layout="row" layout-align="start center" flex>
    <span flex></span>
  </div>
  <div class="total">Balance à payer: {{ balance | currency}}</div>
</section>


