

<md-dialog add-item-dialog>
  <md-dialog-content class="md-dialog-content">
    
    <h2 class="md-title">Ajouter item</h2>
    
    <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
      <i class="material-icons">error_outline</i>
      <span>&nbsp; All fields are required.</span>
    </p>
    
    <form name="item.form" ng-submit="ctrl.addItem()">
      <div layout="column" class="input-row">
        <md-input-container>
          <label>Item</label>
          <input name="nom" size="125" ng-model="item.nom" required>
        </md-input-container>
        <md-input-container >
          <label>Compagnie</label>
          <input name="compagnie" ng-model="item.compagnie" required>
        </md-input-container>
        <div layout="row">
          <md-input-container>
            <label>Prix</label>
            <input type="currency" name="prix" ng-model="item.prix" required>
          </md-input-container>
          <md-input-container>
            <label>Quantite</label>
            <input name="quantite" type="number" ng-model="item.quantite" required>
          </md-input-container>
        </div>
      </div>

    </form>
    
  </md-dialog-content>
  
  <div class="md-actions">
    <md-button class="md-primary" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid">Ajouter</md-button>
    <md-button class="md-primary" ng-click="ctrl.cancel()">Cancel</md-button>
  </div>
  
</md-dialog>